* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 0px;
    padding: 0px;
}/* You can add global styles to this file, and also import other style files */

body {
    background-color: white;
}