.footer-content {
    display: flex;
    flex-direction: column;
    .footer-content-top {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 100px;
        background-color: rgb(5, 5, 5);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h1 {
            color: white;
        }
        .media {
            padding-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .social-logos {
                display: flex;
                flex-direction: row;
                img {
                    margin-right: 40px;
                    width: 50px;
                }
            }
            .links {
                display: flex;
                flex-direction: row;
                .link-1 {
                    display: flex;
                    padding-right: 50px;
                    padding-left: 50px;
                    justify-content: center;
                    align-items: center;
                    border-left: 2px white solid;
                    p {
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .link-1:hover {
                    p {
                        a {
                            color: rgb(199, 199, 77);
                        }
                    }
                }
                .link-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 50px;
                    padding-left: 50px;
                    border-left: 2px white solid;
                    p {
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .link-2:hover {
                    p {
                        a {
                            color: rgb(199, 199, 77);
                        }
                    }
                }
                .link-3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 50px;
                    padding-left: 50px;
                    border-left: 2px white solid;
                    p {
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .link-3:hover {
                    p {
                        a {
                            color: rgb(199, 199, 77);
                        }
                    }
                }
                .link-4 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 50px;
                    padding-left: 50px;
                    border-left: 2px white solid;
                    border-right: 2px white solid;
                    p {
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .link-4:hover {
                    p {
                        a {
                            color: rgb(199, 199, 77);
                        }
                    }
                }
            }
        }
    }
    .footer-content-bottom {
        background-color: rgb(0, 0, 0);
        padding-top: 70px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h5 {
            color: white;
            padding-bottom: 20px;
        }
        p {
            color: white;
            padding-bottom: 10px;
        }
    }
}