<div class="footer-content">
    <div class="footer-content-top">
        <h1>MORE FROM RICK AND MORTY</h1>
        <div class="media">
            <div class="social-logos">
                <img src="../../../../assets/Icons/facebook.png">
                <img src="../../../../assets/Icons/instagram.png">
                <img src="../../../../assets/Icons/twitter.png">
            </div>
            <div class="links">
                <div class="link-1">
                    <p><a href="">PREMIERE IN SPACE</a></p>
                </div>
                <div class="link-2">
                    <p><a href="">GO RICK YOURSELF</a></p>
                </div>
                <div class="link-3">
                    <p><a href="">POCKET MORTYS</a></p>
                </div>
                <div class="link-4">
                    <p><a href="">SHOP RICK AND MORTY</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content-bottom">
        <h5>SING UP FOR THE ADULT SWIM NEWSLETTER</h5>
        <p>Privacy PolicyAdChoicesAdChoices iconManage Cookies+Terms of UseParental ControlsClosed CaptioningContact UsPress RoomHelpSite Map</p>
        <p>TM & © 2021 Turner Broadcasting System, Inc. A WarnerMedia Company. All Rights Reserved.</p>
        <p>AdultSwim.com is part of Turner Entertainment Digital which is part of the Turner Sports & Entertainment Digital Network.</p>
    </div>
</div>
