<nav>
    <ul>
        <a class="home" [routerLink]="['']">
            <div  class="home-div">
                <li><p class="home-text">HOME</p></li>
            </div>
        </a>
        <a [routerLink]="['characters']" class="characters">
            <div class="characters-div">
                <li><p>CHARACTERS</p></li>
            </div>
        </a>
        <a class="episodes" [routerLink]="['episodes']">
            <div class="episodes-div">
                <li><p>EPISODES</p></li>
            </div>
        </a>
        <a class="planets" [routerLink]="['planets']">
            <div class="planets-div">
                <li><p>PLANETS</p></li>
            </div>
        </a>
    </ul>
</nav>